.utility-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 2rem;
  text-align: center;
  background-color: #fcfcfa;
}

.utility-box {
  padding: 3rem 4rem;
  border: 2px solid #0d47a1; /* Using the blue from our auth logo */
  border-radius: 8px;
  background-color: #ffffff;
}

.utility-box h1 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
}