.utility-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 2rem;
  text-align: center;
  background-color: var(--color-background);
}

.utility-box {
  padding: 3rem 4rem;
  border: 2px solid var(--color-primary);
  border-radius: 8px;
  background-color: var(--color-background-card);
}

.utility-box h1 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--color-text-primary);
}