/*html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}*/

html {
    font-size: 14px;
}

body {
    font-size: .875rem;
}

/* --- Main Layout --- */

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
    font-weight: 500;
}

.navbar .form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

    .navbar .form-control-dark:focus {
        border-color: transparent;
        box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
    }

/* --- Sidebar --- */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

/* This makes sure the content area doesn't get hidden by the sidebar on large screens */
@media (min-width: 768px) {
    .sidebar {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable sidebar */
}

/* --- Sidebar Navigation Links --- */

.nav-link {
    font-weight: 500;
    color: #c0c0c0; /* Light gray for links */
}

    .nav-link .bi { /* Icon styling */
        margin-right: 8px;
        color: #888;
        display: inline-block;
        width: 20px;
        text-align: center;
    }

    .nav-link:hover {
        color: #fff;
    }

    .nav-link.active {
        color: #fff; /* White for active link */
    }

        .nav-link.active .bi {
            color: #fff; /* White for active icon */
        }